@model IEnumerable<BC_Rentals.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Vehicle_Manuf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rental_Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rental_End)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Vehicle_Manuf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rental_Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rental_End)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Rental_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Rental_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Rental_ID })
        </td>
    </tr>
}

</table>
